@model Sparrow.Web.Models.TestViewModel
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Model.Name</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="height: 100%">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://github.com/imanushin/Sparrow" class="navbar-brand">@StringResources.ApplicationName</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Content(RouteConfig.TestEditLink(@Model.TestIdentity))">Edit</a></li>
                    <li><a href="@Url.Content(RouteConfig.TestViewLink(@Model.TestIdentity))">View</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        <h2>@Model.Name</h2>
            @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
