@model Sparrow.Web.Models.TestViewModel
@{
    ViewBag.Title = @Model.Name;
}
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("SaveTest", "Default", @Model.TestIdentity))
{
    <table>
        <tr>
            <td>
                @Html.TextBox("testEditBox", @Model.RawContents)
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save test</button>
            </td>
        </tr>
    </table>
}